*{
margin:0;
padding:0;
}
ul{
list-type:none;
background-color:black;
overflow:hidden;
}
ul li{
display:inline;
padding:10px;
}
li a{
text-decoration:none;
color:white;
padding:10px;
margin:10px;
font-size:25px;
}
li a:hover{
color:dodgerblue;
background-color:coral;
}
.container1{
background-color:lightgray;
text-align:center;
}
.container2{
background-color:lightgray;
text-align:center;
}
#menu{
text-align:center;
color:yellow;
padding:8px;
background-color:black;
font-size:16px;
border:none;
float:right;
}
.container3{
display:flex;
background-color:black;
}
.container3 h3{
color:yellow;
font-style:italic;
}
.container3 pre{
color:white;
font-size:14px;
font-family:sans-serif;
}
.container3 p{
color:yellow;
}
.container3>div{
text-align:center;
overflow:auto;
padding:120px;
}
.container4{
background-color:#fec107;
text-align:center;
}
.wrapper{
max-width:500px;
width:100%;
background:#fff;
margin:20px auto;
padding:30px;
box-shadow:1px 1px 2px rgba(0,0,0,0.125);
}
.wrapper .title{
font-size:24px;
font-weight:700;
margin-bootom:25px;
color:#fec107;
text-transform:uppercase;
text-align:center;
}
.wrapper .form{
width:100%;
}
.wrapper .form .input_field{
margin-bottom:15px;
display:flex;
align-items:center;
}
.wrapper .form .input_field label{
width:200px;
color:#757575;
margin-right:10px;
font-size:14px;
}
.wrapper .form .input_field .input{
width:100%;
outline:none;
border:1px solid #d5dbd9;
font-size:15px;
padding:8px 10px;
border-radius:3px;
transition:all 0.3s ease;
}
.wrapper .form .input_field .btn{
width:100%;
padding:8px 10px;
font-size:15px;
border:0;
background:#fec107;
color:#fff;
cursor:pointer;
border-radius:3px;
outline:none;
}
.wrapper .form .input_field:last-child{
margin:bottom:0;
}
.wrapper .form .input_field .btn:hover{
background:#ffd658;
}
.wrapper .form .input_field .date{
width:100%;
padding:8px 10px;
font-size:15px;
}
.footer{
text-align:center;
background-color:#785463;
color:#fec107;
}